<a href="#" data-target="side-nav" class="sidenav-trigger"><i class="fa fa-bars clr_orange"></i></a>

<p class="center m-0" style="padding-top: 22px;color: #000;font-size: 7px;">Servicio de Mensajería, Servicio de Publicidad, Transporte Personal</p>


<p style="margin: 0;position: absolute;top: 2px;color: #000; right: 40px;"><span class="nom_usu">Hola</span> 
	<img class="IMGPROFILE img-center" style="width: 25px;height:25px;vertical-align: middle;border-radius:50%;" src="img/employee.png" onerror=" this.src ='img/employee.png' ">
</p>

<a href="notificaciones.html">
	<p style="margin: 2px;position: absolute;top: 2px;right: 8px;"><i class="fa fa-bell campanaNoti text-gray"></i></p>
</a>

<script type="text/javascript">
$(document).ready(function() {
	
	 if(getCookie('id') != "" && getCookie ('id') != "null" && getCookie('id') != null) {
	 	 
	 		$(".nom_usu").text(obj_data_usuario().nom_usu); 
	 		if(obj_data_usuario().tablausuario=="clientes")
	 			$('.IMGPROFILE').attr('src',`${obj_data_usuario().img_cli}`);
	 		else
	 			$('.IMGPROFILE').attr('src',`${obj_data_usuario().img_pro}`);
	 	 
	 }
});
</script>