<center><img src="img/logo.png" style="width: 100px !important;" class="p-1"></center>


<li><a href="inicio.html" class="hide TabCli">Inicio</a></li>
<!-- opciones como proveedor-->
<li><a href="inicio.html" class="hide TabPro">Solicitudes</a></li>
<!-- fin de opciones como proveedor-->
<li><a href="mis_domicilios.html" class="hide TabCli">Mis direcciones favoritas</a></li>
<li><a href="historial.html">Historial <span id="ENPROCESO"></span></a></li>
<li><a href="perfil.html">Edición de datos</a></li>
<li><a href="cambiarclave.html">Cambiar contraseña</a></li>
<li><a href="contacto.html">Contactar con soporte</a></li>
<li><a href="#!" onclick="salir();">Salir</a></li>
<script type="text/javascript">
    if (getCookie('data_user')) {
        datausu = JSON.parse(getCookie('data_user'));

        if (datausu.tablausuario == "proveedores") {
            $(".TabPro").removeClass('hide');
        } else {
            $(".TabCli").removeClass('hide');
        }
    }
</script>