<div class="progress progresRequest" id="Progress__P">
    <div class="determinate" style="width: 0%" id="Progress__C">
    </div>
</div>

<div id="llegoPIJAO" class="modal modalFull modal-close">
    <div class="modal-content text-center">
        <div class="btn btn-red btn-small BTLLEGOPIJAO">
            <div class="center">
                <img src="img/logo.png" width="10%">
            </div>
            Tu Pijaosdrive ya llegó <!--, salga porfavor-->
        </div>
    </div>
</div>

<style>
    .progresRequest {
        position: fixed !important;
        z-index: 100;
        top: -0.5rem !important;
        background-color: transparent !important;
    }
    
    .progresRequest .determinate {
        background-color: #f5821f !important;
    }
    
    #llegoPIJAO {
        background: transparent;
    }
    
    .BTLLEGOPIJAO {
        margin-top: 4rem;
        height: 30vh;
        border-radius: 0%;
        font-size: 1.5rem;
    }
    
    .BTLLEGOPIJAO img {
        background: #FFF;
        border-radius: 10%;
        margin: 0.5rem;
    }
</style>