@import '../lib/font-awesome/css/fontawesome-all.css';
@font-face {
    font-family: 'Roboto-Regular';
    src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Karla';
    src: url("../font/Karla/Karla.ttf");
}

body {
    font-family: 'Karla';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: 'Karla';
}

img {
    padding-bottom: 0
}

.iframeMap {
    width: 100% !important;
    height: 70vh !important;
}

.view_more {
    padding: 0.5rem;
    width: 100% !important;
    cursor: pointer;
    color: #f44336;
    font-size: 16px;
    font-weight: bold;
}

.text-rojo {
    color: red !important;
}

.text-gray {
    color: gray !important;
}


/* Eliminar flechas */

input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important
}

input[type=date],
input[type=number] {
    -moz-appearance: textfield !important
}

input[type=text],
input[type=file],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
select,
textarea.textarea {
    background-color: #fff !important;
    border: 1px solid #e30016 !important;
    border-radius: .2rem !important;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
select:focus:not([readonly]),
textarea.textarea:focus:not([readonly]) {
    background-color: #fff !important;
    border: 1px solid #0095da !important;
    box-shadow: none !important;
}

select option {
    color: #000;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -o-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

*::selection {
    background: #00bcd4;
    color: #00bcd4;
    border: 1px solid #dfe0e0;
}

footer,
.page-footer {
    background: #292ca5;
    padding: 0rem 1rem;
    color: #fff;
    text-align: center;
    margin-top: -1rem;
}

::placeholder,
.select-wrapper input.select-dropdown {
    padding-left: 5px;
}

.input-field label,
.input-field p,
.input-field .select-dropdown,
.select-wrapper input.select-dropdown {
    color: var(--gray);
    font-size: 14px !important;
}

.input-field .dropdown-content li>span {
    color: var(--gray);
}


/*	Colores*/

.bg_red {
    background-color: #e30016;
}

.bg_reddark {
    background-color: #e87d1e;
}

.bg_blue {
    background-color: #0095da;
}

.bg_bluemedium {
    background-color: #3c7dbf;
}

.bg_bluedark {
    background-color: #3c439b;
}

.bg_black {
    background-color: #4D4C4C;
}

.bg_white {
    background-color: #FFFFFF;
}

.clr_red {
    color: #f44336;
}

.clr_red {
    color: #e30016;
}

.clr_blue {
    color: #0095da;
}

.clr_black {
    color: #333;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.wh100 {
    width: 100vh;
}

.vh100 {
    height: 100vh;
}


/* FlexBox */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.radius {
    border-radius: 1rem;
}

.border {
    border: 1px solid #ddd;
}

.circle {
    border-radius: 50%;
}

.text-bold {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.mb-0 {
    margin-bottom: 0rem;
}

.img-historial {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.img-Verhistorial,
.img-servicio {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.img-cover {
    object-fit: cover;
    object-position: top center;
}

.img-carro {
    border-radius: .5rem;
    width: 100%;
    height: auto;
}

.img-center {
    object-fit: cover;
    object-position: center center;
}

.fa-star {
    color: #ffcf0e;
}


/*-------------------------
		botones
-------------------------*/

[class*="btn"] {
    border-radius: 2rem;
    font-weight: bold;
    padding: .5rem 1rem 3rem 1rem;
}

.btn-small {
    padding: 0rem .5rem !important;
}

.btn-red {
    background: #e30016;
}

.btn-red:hover,
.btn-red:focus {
    background: #e30016;
    opacity: .8;
}

.btn-blue {
    background-color: #0095da;
}

.btn-blue:hover,
.btn-blue:focus {
    background: #0095da !important;
    color: #ffffff;
    font-weight: bold;
    text-transform: none;
    opacity: 0.7;
}

.btn-bluedark {
    background-color: #3c439b;
}

.btn-bluedark:hover,
.btn-bluedark:focus {
    background: #3c439b !important;
    color: #ffffff;
    font-weight: bold;
    text-transform: none;
    opacity: 0.7;
}

.btn-cerrar {
    color: #e30016;
    position: absolute;
    right: 15px;
}

.section.login,
.section.registro {
    background: #f1f1f1 !important;
    height: 100vh;
    overflow-x: scroll;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #e30016;
    border-bottom: 2px solid #e30016;
}


/*-------------------------
		navbar
-------------------------*/

.nav-wrapper,
.sidenav {
    background: #ffffff;
    box-shadow: none;
    border-bottom: 1px solid #ddd !important;
}

nav a {
    color: #e30016;
}

.sidenav li a {
    border-bottom: 1px solid #e6f6fb;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    padding-left: 15px;
}

.bg-loading {
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalFull {
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0px !important;
    overflow-y: auto;
    z-index: 9999;
}


/*----------Transporte---------*/

.boxTransporte__body {
    background: #ffffff;
    border: 2px solid #e30016;
    border-radius: .5rem;
    padding: .5rem;
}

.boxTransporte__body .clr_red {
    font-size: 0.9rem;
}

.map_fullDos {
    height: 30vh;
}

.map_full {
    height: 100vh !important;
    position: fixed !important;
    top: 0rem !important;
    z-index: 9000 !important;
    left: 0rem !important;
    background: #FFF !important;
}

.filereg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    display: none;
}

.btreg {
    width: 20px;
    height: 20px;
    padding: 0px 0px 0px 0px !important;
}

.btreg i {
    font-size: .7rem !important;
    position: relative;
    top: -.6rem;
}

.btvehiculo {
    width: 40px;
    height: 40px;
    padding: 0px 0px 0px 0px !important;
}


/*--------------- CHAT ----------------*/


/*==============================
------------Mensaje-------------
=================================*/

.invisible {
    display: none;
}

.input-search input[type=search] {
    width: 100% !important;
}

.icon_buscar {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.card-listado {
    background: #521277;
    padding: 1rem;
    border-radius: .5rem;
    height: 600px;
}

.card-chat {
    /*padding: 1rem;*/
    margin-bottom: 100px;
    border-radius: .5rem;
}

.boxList {
    border-bottom: 1px solid #c280e8;
    padding: .5rem;
    margin: 0;
}

.boxList--img {
    width: 100%;
    border: 2px solid #53cfdc;
    border-radius: 50px;
}

.boxList p {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.boxChat--name {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 2rem;
}

.boxChat--img,
.boxList {
    display: inline-block;
    margin-right: 20px;
}

.boxChat--img img,
.boxChat--img h5 {
    vertical-align: middle;
}

.card-title {
    padding: 10px;
    min-height: 57px;
    border-bottom: 1px solid #ddd;
}

.padreBoxChat {
    position: relative;
    height: calc(100vh - 140px);
    overflow-y: auto;
}

ol.mainChat {
    padding: 0px !important;
}

.boxChatScroll {
    position: relative !important;
    height: calc(100vh - 140px);
    max-height: 100%;
    /*overflow-y: auto;*/
}

.boxChat--msj {
    list-style: none;
    background: none;
    margin: 0;
    /*padding: 0 0 30px 0;*/
    margin-top: 5px;
    padding-bottom: -10px;
}

.boxChat--msj li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.boxChat--msj .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.boxChat--msj .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.boxChat--msj .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.boxChat--msj .other .msg {
    background: #ffa5ae;
    border: 1px solid #ddd;
    border-radius: .5rem;
    padding: 0rem 1rem;
    order: 1;
    margin-left: .2rem;
    box-shadow: 1px 2px 0px #ff7885;
    max-width: 70%;
    white-space: normal;
    word-break: break-word;
}

.boxChat--msj .other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.boxChat--msj .self {
    justify-content: flex-end;
    align-items: flex-end;
}

.boxChat--msj .self .msg {
    background: #ffa5ae;
    border: 1px solid #ddd;
    border-radius: .5rem;
    padding: 0rem 1rem;
    margin-right: .2rem;
    order: 1;
    margin-left: .2rem;
    box-shadow: 1px 2px 0px #ff7885;
    max-width: 70%;
    white-space: normal;
    word-break: break-word;
}

.boxChat--msj .self .avatar {
    order: 2;
}

.placeBuscar {
    text-indent: 5%;
}

footer.inputMensaje {
    position: absolute !important;
    width: 100%;
    bottom: 0%;
    height: auto;
    border-top: 1px solid #ddd;
}

.chatInput {
    border-radius: 20px;
    background-color: #fff;
    text-indent: 10px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    padding: 10px;
    min-height: 42px;
    max-height: 20vh;
    overflow-y: auto;
    height: auto !important;
}

.chatInput span {
    background-color: #fff !important;
    color: #000;
}

li.other .msg p span {
    background-color: #e5c5ff !important;
    color: #000;
}

li.self .msg p span {
    background-color: #c280e8 !important;
    color: #000;
}

.inputMensaje {
    /*background-color: #c1c1c1;*/
}

.btn-chat {
    background-color: #e30016;
    color: #fff;
    cursor: pointer;
}

.btn-chat:hover {
    background-color: #e30016;
    color: #fff;
    cursor: pointer;
}

.card-notifi {
    color: #333;
    padding: 1rem;
}

.card-notifi h6 {
    color: #521277;
}


/*texto pequeño de cambiar contraseña*/

.texto-pequeño {
    font-size: .7em;
    float: right;
}

.boxNotificaciones {
    border: 1px solid #ddd;
    border-radius: .5rem;
    width: 100%;
}

.titulo {
    background-color: #424242;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .boxChat--msj .msg img {
        width: 300px;
    }
    .boxChat--img h5 {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 550px) {
    .boxChat--msj .msg img {
        width: 200px;
    }
}

.boxChat--msj .msg time,
.boxList {
    font-size: 0.7rem;
    color: #fff;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 480px) {
    .boxLogin .img_logo,
    .boxRegistro .img_logo {
        width: 30% !important;
    }
    .boxLogin__form {
        margin-bottom: 0px !important;
    }
    .boxLogin__footer {
        margin-top: 5% !important;
    }
}

@media only screen and (min-width: 993px){
    nav a.sidenav-trigger {
        display: block !important;
    }
}
/*--------------- FIN DE CHAT ----------------*/