<div class="w100 pt-2 pb-2 titulo">
    <h5 class="center">Listado de solicitudes</h5>
</div>

<div class="row VALpendiente hide card border pb-3" style="padding:0.5rem;">
    <h5 class="clr_red text-bold m-0">Viaje ya finalizado</h5> <br>
    <h6 class="clr_red">Estamos creando comunidad <a href="historial.html" class="linkHP">califíque</a> su viaje para seguir utilizando Pijaosdrive. </h6>
</div>

<div class="row col 12 view_more EleINI1">
    <div onclick="$(this).html('<center>Cargando...</center>'); obtener_soli(); ">
        <center>Cargar más...</center>
    </div>
</div>
<div class="row SoliINI">

</div>


<div id="det_solicitud" class="modal modalFull">
    <div class="modal-content">
        <i class="fa fa-times fa-2x btn-cerrar modal-close"></i>
        <div class="center border pb-3">
            <div class="row col s12 CuerpoSoli">

            </div>
            <div class="row Buttons">

            </div>
            <div class="row col s12">
                <p class="m-0 Leye1 hide center"><b>PUNTO A:</b> Ubicación de origen</p>
                <p class="m-0 Leye1 hide center"><b>PUNTO B:</b> Ubicación de destino</p>
                <p class="m-0 Leye2 hide center"><b>PUNTO A:</b> Mi Ubicación actual</p>
                <p class="m-0 Leye2 hide center"><b>PUNTO B:</b> Ubicación de origen</p>
                <p class="m-0 Leye2 hide center"><b>PUNTO C:</b> Ubicación de destino</p>
                <div id="mapaservicio" class="iframeMap"></div>
            </div>
            <div class="row Buttons">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    google = null;
</script>
<script src="js/funciones/inicioProveedor.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBUPAHemQKCzVuIBCYTJ9AvsEtZDkfOOjY&libraries=places&region=co&sensor=false&amp;language=es"></script>