<div class="main">
    <div class="row VALpendiente hide card border pb-3" style="padding:0.5rem;">
        <h5 class="clr_red text-bold m-0">Viaje ya finalizado</h5> <br>
        <h6 class="clr_red">Estamos creando comunidad <a href="historial.html" class="linkHC">califíque</a> su viaje para seguir utilizando Pijaosdrive. </h6>
    </div>
    <h6 class="center EleINI1 clr_red">Que tipo de Pijaosdrive necesitas?</h6><br>

    <div class="boxTransporte EleINI2">
        <div class="row" id="OpcionesVeh">
        </div>
    </div>

    <h6 class="center EleINI3 clr_red">Todos nuestros conductores están previamente verificados, para su seguridad y tranquilidad.</h6>

    

    <div class="center">
        <img src="img/logo.png" width="30%">
    </div>

    <script src="js/funciones/inicioCliente.js"></script>


</div>