@import 'font-awesome-animation.min.css';
/* -> Variables */
:root {
  --orange:       #e30016;
  --orangedark:   #e87d1e;
  --blue:         #e30016;
  --bluemedium:   #3c7dbf;
  --bluedark:     #3c439b;
  --grayd:        #BBBBBB;
  --black:        #4D4C4C;
  --blackd:       #2d3436;
  --white:        #FFFFFF;
}

/*----------------------
		Fuentes
----------------------*/

    @font-face {
      font-family: 'Roboto', sans-serif !important;
      src: url("../font/roboto/Roboto-Regular.ttf");
    }

    @font-face {
      font-family: 'NanumGothic', sans-serif !important;
      src: url('../font/NanumGothic/NanumGothic.ttf') format('ttf'),
      url('../font/NanumGothic/NanumGothic.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    body,
    p,
    h1,
    h2,
    h3 {
      font-family: 'NanumGothic', sans-serif !important;
    }

    body {
      margin:0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }

    label {
      color: var(--black);
      font-weight: bold;
      font-size: 14px;
    }

    .clr_blue{
      color: var(--blue);
    }

    .clr_black{
      color: var(--black);
    }

    .clr_orange{
      color: var(--orange);
    }

    .clr_white{
      color: var(--white);
    }

    /* Centrado de texto */
    .text-bold {
      font-weight: bold
    }

    .text-center {
      text-align: center
    }

    .text-left {
      text-align: left
    }

    .text-right {
      text-align: right
    }

    .text-justify {
      text-align: justify
    }

    .text-uppercase {
      text-transform: uppercase
    }

    .text-capitalize {
      text-transform: capitalize
    }

    .text-lowercase {
      text-transform: lowercase
    }

    /* Ancho y Alto 100 */
    .w100 {
      width: 100%;
    }

    .hAuto {
      height: auto !important;
      line-height: 15px;
    }

    .h100 {
      height: 100%;
    }

    .vw100 {
      width: 100vw;
    }

    .vh100 {
      height: 100vh;
    }

    .verticalMid {
      vertical-align: middle !important;
    }

    .flexCenter{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .flexColumn{
      display: flex;flex-direction: column;
    }

    .m-0 {
      margin: 0 !important;
    }

    .mt-0,
    .my-0 {
      margin-top: 0 !important;
    }

    .mr-0,
    .mx-0 {
      margin-right: 0 !important;
    }

    .mb-0,
    .my-0 {
      margin-bottom: 0 !important;
    }

    .ml-0,
    .mx-0 {
      margin-left: 0 !important;
    }

    .m-1 {
      margin: 0.25rem !important;
    }

    .mt-1,
    .my-1 {
      margin-top: 0.25rem !important;
    }

    .mr-1,
    .mx-1 {
      margin-right: 0.25rem !important;
    }

    .mb-1,
    .my-1 {
      margin-bottom: 0.25rem !important;
    }

    .ml-1,
    .mx-1 {
      margin-left: 0.25rem !important;
    }

    .m-2 {
      margin: 0.5rem !important;
    }

    .mt-2,
    .my-2 {
      margin-top: 0.5rem !important;
    }

    .mr-2,
    .mx-2 {
      margin-right: 0.5rem !important;
    }

    .mb-2,
    .my-2 {
      margin-bottom: 0.5rem !important;
    }

    .ml-2,
    .mx-2 {
      margin-left: 0.5rem !important;
    }

    .m-3 {
      margin: 1rem !important;
    }

    .mt-3,
    .my-3 {
      margin-top: 1rem !important;
    }

    .mr-3,
    .mx-3 {
      margin-right: 1rem !important;
    }

    .mb-3,
    .my-3 {
      margin-bottom: 1rem !important;
    }

    .ml-3,
    .mx-3 {
      margin-left: 1rem !important;
    }

    .m-4 {
      margin: 1.5rem !important;
    }

    .mt-4,
    .my-4 {
      margin-top: 1.5rem !important;
    }

    .mr-4,
    .mx-4 {
      margin-right: 1.5rem !important;
    }

    .mb-4,
    .my-4 {
      margin-bottom: 1.5rem !important;
    }

    .ml-4,
    .mx-4 {
      margin-left: 1.5rem !important;
    }

    .m-5 {
      margin: 3rem !important;
    }

    .mt-5,
    .my-5 {
      margin-top: 3rem !important;
    }

    .mr-5,
    .mx-5 {
      margin-right: 3rem !important;
    }

    .mb-5,
    .my-5 {
      margin-bottom: 3rem !important;
    }

    .ml-5,
    .mx-5 {
      margin-left: 3rem !important;
    }

    .p-0 {
      padding: 0 !important;
    }

    .pt-0,
    .py-0 {
      padding-top: 0 !important;
    }

    .pr-0,
    .px-0 {
      padding-right: 0 !important;
    }

    .pb-0,
    .py-0 {
      padding-bottom: 0 !important;
    }

    .pl-0,
    .px-0 {
      padding-left: 0 !important;
    }

    .p-1 {
      padding: 0.25rem !important;
    }

    .pt-1,
    .py-1 {
      padding-top: 0.25rem !important;
    }

    .pr-1,
    .px-1 {
      padding-right: 0.25rem !important;
    }

    .pb-1,
    .py-1 {
      padding-bottom: 0.25rem !important;
    }

    .pl-1,
    .px-1 {
      padding-left: 0.25rem !important;
    }

    .p-2 {
      padding: 0.5rem !important;
    }

    .pt-2,
    .py-2 {
      padding-top: 0.5rem !important;
    }

    .pr-2,
    .px-2 {
      padding-right: 0.5rem !important;
    }

    .pb-2,
    .py-2 {
      padding-bottom: 0.5rem !important;
    }

    .pl-2,
    .px-2 {
      padding-left: 0.5rem !important;
    }

    .p-3 {
      padding: 1rem !important;
    }

    .pt-3,
    .py-3 {
      padding-top: 1rem !important;
    }

    .pr-3,
    .px-3 {
      padding-right: 1rem !important;
    }

    .pb-3,
    .py-3 {
      padding-bottom: 1rem !important;
    }

    .pl-3,
    .px-3 {
      padding-left: 1rem !important;
    }

    .p-4 {
      padding: 1.5rem !important;
    }

    .pt-4,
    .py-4 {
      padding-top: 1.5rem !important;
    }

    .pr-4,
    .px-4 {
      padding-right: 1.5rem !important;
    }

    .pb-4,
    .py-4 {
      padding-bottom: 1.5rem !important;
    }

    .pl-4,
    .px-4 {
      padding-left: 1.5rem !important;
    }

    .p-5 {
      padding: 3rem !important;
    }

    .pt-5,
    .py-5 {
      padding-top: 3rem !important;
    }

    .pr-5,
    .px-5 {
      padding-right: 3rem !important;
    }

    .pb-5,
    .py-5 {
      padding-bottom: 3rem !important;
    }

    .pl-5,
    .px-5 {
      padding-left: 3rem !important;
    }

    .m-auto {
      margin: auto !important;
    }

    .mt-auto,
    .my-auto {
      margin-top: auto !important;
    }

    .mr-auto,
    .mx-auto {
      margin-right: auto !important;
    }

    .mb-auto,
    .my-auto {
      margin-bottom: auto !important;
    }

    .ml-auto,
    .mx-auto {
      margin-left: auto !important;
    }

    .relative {
      position: relative;
    }

    .absolute {
      position: absolute;
    }

    .fixed {
      position: fixed;
    }

    .inDiv {
      white-space: normal;
      word-break: break-word;
      font-size: 10px;
    }

    .borderTable {
      border-top-right-radius: 10px;
    }

    .iconInside {
      position: absolute;
      right: 20px;
      top:48px;
    }
    .iconSearchCompInter {
      position: absolute;
      font-size: 1.5em;
      right: 18px;
      top: 32px;
    }

    td .iconInside {
      position: absolute;
      right: 20px;
      top:30px;
    }

    .indent {
      text-indent: 10px;
    }

    a.ancla {
      color:#000;
    }

    .vertical-md{
      vertical-align: middle;
    }

    .border{
      border:1px solid #ddd;
    }

    input[type=text],
    input[type=file],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search],
    select,
    .select2,
    textarea.textarea {
      border: 1px solid #e30016 !important;
    }

    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    select:focus:not([readonly]),
    textarea.textarea:focus:not([readonly]) {
      border-color: #e30016 !important;
      box-shadow: none !important;
    }

    .input-field{
      margin-bottom: 0rem !important;
    }

    .form-app,
    .select,
    .textarea,
    textarea,
    .select2-container--default .select2-selection--single {
      background: #fff !important;
      text-indent: 10px;
    }

    select.browser-default,
    .select2-container--default .select2-selection--single{
      display: block;
      border: none !important;
      border-bottom: 1px solid var(--orange) !important;
      outline: none;
    }

    .footer{
      background: var(--blue);
      color: var(--white);
      margin-bottom: -1rem;
    }

    .footer.down{
      position: fixed;
      width: 100%;
      bottom: 0;
    }

    .table{
      width:100% !important;
    }

    table thead th{
      background: var(--blackd);
      color: var(--white)
    }

    table .btn i{
      font-size: 1rem !important;
    }

    table .btn{
      padding: 0rem .8em;
    }

    /*---------------- Botones -------------------*/
    [class*="btn"] {
      border-radius: 2rem;
      font-weight: bold;
    }

    .btn-large{
      padding: .5rem 1rem 3rem 1rem;
    }

    .btn-orange {
      background-color: var(--orange);
      color: var(--white);
      font-weight: bold;
      text-transform: uppercase !important;
      text-transform: none;
    }

    .btn-orange:hover,
    .btn-orange:focus {
      background-color: var(--orange);
      color: var(--white);
      text-transform: none;
      opacity: 0.7;
    }

    .btn-blue {
      background-color: var(--blue);
      color: var(--white);
      font-weight: bold;
      text-transform: uppercase !important;
      text-transform: none;
    }

    .btn-blue:hover,
    .btn-blue:focus {
      background-color: var(--blue);
      color: var(--white);
      text-transform: none;
      opacity: 0.7;
    }

    /*--------------- LOGIN ----------------*/
    .boxHead {
      background: var(--blue);
      color: var(--white);
      padding: .5rem;
      margin-top: 1rem;
    }

    .boxAccount__head {
      background: var(--blackd);
      color: var(--white);
      padding: .5rem;
    }

    .boxAccount__form {
      background: var(--white);
      border: 1px solid var(--graym);
      width: 40%;
    }

    .boxAccount__form .input-field span {
      background: var(--blackd);
      color: var(--white);
      padding: 1rem;
      position: absolute;
    }

    .boxAccount__body {
      padding: 1rem;
    }

    .boxAccount__form label {
      font-size: 1rem;
      color: var(--text-color);
    }

    /*--------------- MENU ----------------*/
    .nav-wrapper,
    .dropdown-content,
    .dropdown-content li>a {
      background: var(--white);
    }

    .dropdown-content.active{
      top: auto !important;
    }

    .dropdown-content {
      margin: 0;
      display: none;
      min-width: 300px;
      color: var(--white) !important;
      max-height: auto;
      margin-left: -1px;
      overflow: hidden;
      opacity: 0;
      position: absolute;
      white-space: nowrap;
      will-change: width, height;
    }

    .dropdown-content li>a {
      color: var(--black);
    }

    .dropdown-content li>a:hover {
      background: var(--second-color);
      color: var(--black);
    }
    .dropdown-noti li>a{
      font-size: 10px;
    }

    nav ul a {
      color: var(--blackd);
    }


    .dropdown-content.dp2 li:hover, .dropdown-content.dp2 li.active {
      background-color: #fff;
    }

    ul.dp2 {
      top: -64px;
    }

    .dp3{
      width: 250px !important;
      height: auto !important;
      max-height: 500px;
      overflow-y: auto;
    }

    .dropdown-content.dp3 li:hover, .dropdown-content.dp3 li.active {
      background-color: #f1f1f1;
    }

    ul.dp3 {
      top: -64px;
    }

    /*------------- Modal full -----------------*/
    .modalFull {
      width: 100%;
      height: 100%;
      max-height: 100%;
      top: 0px !important;
      overflow-y: auto;
      z-index: 9999;
    }

    .btnCerrar{
      color: var(--white);
      padding: .5rem;
      top: .2rem;
      position: absolute;
      right: .5rem;
    }

    /*--------------- Perfil----------------*/
    .boxPerfil {
      background: var(--white);
      margin-bottom: 2rem;
    }

    .boxPerfil--img  {
      border: 1px solid var(--blackd);
      border-radius: 50%;
      margin: .5rem;
      height: 150px;
      width: 150px;
      object-fit: cover;
      object-position: top center;
    }

    /*--------------- Notificaciones----------------*/
    .boxNotificaciones{
      border: 1px solid #ddd;padding: .1rem;
    }

    .boxNotificaciones time{
      font-size: 0.7rem;
      color: #888;
      margin: 0rem;
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .card-notifi{
      color: var(--black);
      padding: .1rem;
    }

    .card-notifi h6{
      color: var(--blackd);
    }

    .brand-logo img{
      width: 30px;
    }

    .titulo{
      color: var(--blue);
      font-weight: bold;
      text-transform: uppercase;
    }

    .boxAccount--title{
      background-color: var(--blue);
      color: var(--white);
      padding: .5rem;
      margin: 0rem;
    }

    nav .nav-wrapper i{
      color: var(--orange);
    }

    .boxInicio{
      border: 2px solid var(--orange);
      border-radius: .5rem;
      padding: 1rem 0rem;
    }

    .img-cover{
      object-fit: cover;
      object-position: top center;
    }

    .img-nav{
      vertical-align: middle;
      width:50px;
      height:50px;
      border:2px solid var(--orange);
    }

    .trans-act{
      color: var(--white);
      background: #4caf50;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin:0px auto;
      padding:3%;
    }

    .trans-blo{
      background-color: #ff2828;
      color: var(--white);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin:0px auto;
      padding:3%;
    }

    .trans-pau{
      background-color: #ffc82b;
      color: var(--white);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin:0px auto;
      padding:3%;
    }

    .datepicker-date-display, .datepicker-table td.is-selected{
        background-color: var(--orange);
    }
    .datepicker-controls .select-month input[type=text],
    .datepicker-controls .select-year input[type=text]{
      border:none !important;
    }

    .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done,.datepicker-table td.is-today{
      color: var(--orange);
    }

    .dropdown-content{
      max-height: 400px !important;
    }
    .dropdown-content li > span{
      color: var(--orange) !important;
    }

    /*--------------- CHAT ----------------*/
      .boxChat .icon_buscar{
        position: absolute;
        right: 0px;
        top: 1rem;
      }

      .boxChat .boxChat__list{
        overflow-y: scroll;
        background-color: #232323;
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: .5rem;
        height: 600px;
      }

      .boxChat .boxChat__cont{
        border-bottom: 1px solid #676767;
        color: #fff;
        padding: .5rem 0rem;
        font-size: 0.7rem;
        margin-top: 3px;
        cursor: pointer;
      }

      .boxChat--img{
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 50px;
      }

      .boxTexto{
        border-radius: 20px;background-color: #fff;text-indent: 10px;border: 1px solid #ccc;margin-bottom: 0px;padding: 10px;min-height: 20px;max-height: 10vh;overflow-y: auto;height: auto !important;
      }
      .boxList p {
        color: #fff;
        padding: 0;
        margin: 0;
        font-size: 12px;
      }

      .boxChat--msj li {
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
      }

      .boxChat--msj .boxChat__left .msg {
        background: #ffa5ae;
        border-radius: .5rem;
        padding: 0rem 1rem;
        order: 1;
        margin-left: .2rem;
        box-shadow: 1px 2px 0px #ff7885;
      }

      .boxChat--msj .avatar {
        width: 40px;
        height: 40px;
        position: relative;
        display: block;
        z-index: 0;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        background-color: rgba(255,255,255,0.9);
      }

      .timeago{
        font-size: 10px;
      }

      .boxMensajes__head {
        padding: 10px;
        min-height: 57px;
        border-bottom: 1px solid #ddd;
      }

      .boxMensajes__head i,
      .boxMensajes__head img,
      .boxMensajes__head h5{
        vertical-align: middle;
      }

      .boxChat--img, .boxChat--name {
        background-color: #fff;
        display: inline-block;
        margin-right: 20px;
      }

      .boxMensajes .boxMensajes__cont {
        min-height: 440px;
        max-height: 440px;
        overflow-y: overlay;
      }

      .boxChat--msj {
        list-style: none;
        background: none;
        margin: 0;
        padding: 0 0 50px 0;
        margin-top: 60px;
        margin-bottom: 10px;
      }
      
      .boxChat--msj .boxChat__right {
        justify-content: flex-end;
        align-items: flex-end;
      }

      .boxChat--msj .boxChat__right .avatar {
        order: 2;
      }

      .boxChat--msj .boxChat__right .msg {
        background: #ffa5ae;
        border: 1px solid #ddd;
        border-radius: .5rem;
        padding: 0rem 1rem;
        margin-right: .2rem;
        order: 1;
        margin-left: .2rem;
        box-shadow: 1px 2px 0px #ff7885;
      }

      .switch label input[type=checkbox]:checked + .lever:after,
      .switch label input[type=checkbox]:checked + .lever{
        background-color: #e30016;
      }

      @media(max-width: 600px){
        .boxMensajes{
          display: none;
        }
      }
    /*--------------- FIN DE CHAT ----------------*/


    /*--------------- MEDIA ----------------*/
    @media(max-width: 600px) {
      .boxAccount {
        margin: 1rem;
      }
      .boxAccount__form {
        border-radius: 0px 0px 12px 12px;
        margin-top: 1rem;
      }
      .boxPerfil--info {
        background: #eee;
      }

      .brand-logo {
        margin-left: 0rem;
      }

      .trans--img{
        width: 50%;
      }
    }

    @media(min-width: 601px) {
      .boxAccount__form {
        border: 1px solid var(--grayd);
      }
      .trans--img{
        width: 100%;
      }
    }

    @media(max-width: 767px) {
      .display-mv{
        display: none;
      }
    }

    @media(min-width: 768px) {
      .boxAccount .card-login {
        margin-top: 8rem;
        margin-bottom: 8rem;
      }
    }

    /*--------------- SCROLL ----------------*/
    ::-webkit-scrollbar {
      width: 8px;
      background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(150, 144, 144, 0.9);
      border-radius: 10px;
      background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--blackd);
      background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
    }

    @media only screen and (max-width: 992px){
      nav .brand-logo{
        left: 11% !important;
      }
    }


